/* Dark mode */
body {
  color: $black;
  background-color: white;

  transition: all 0.6s ease;

  .menu_link {
    color: #e2e2e2;
  }
}

.dark-mode {
  color: #e2e2e2;
  background: $black;

  nav {
    a {
      color: #e2e2e2;
      &:hover {
        color: #e2e2e2;
      }
    }
  }

  .btn-darkmode {
    background: #e2e2e2;
  }

  .hamburger {
    span {
      background: #e2e2e2;
    }
  }

  .header {
    background-color: $black;
    box-shadow: unset;

    .menu {
      .menu_item {
        .menu_link {
          color: #e2e2e2;
        }
      }
    }
  }

  .promo {
    .feed-star {
      background: #0b0f15;
    }
    .feed-feed {
      background: #0b0f15;
    }
  }

  .services {
    &__item {
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: #0b0f15;
    }
  }

  .testimonial {
    &__item {
      background: #0b0f15;
    }
  }

  .footer {
    &__logo {
      background: $black;
    }
  }
}
