@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .xl-visible {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    min-width: 640px;
    padding: 0 15px;
  }

  .xs-visible {
    display: none;
  }

  button {
    padding: 12px 35px;
    flex-direction: row;
    font-size: 16px;
    line-height: 24px;
  }

  .title {
    font-size: 18px;
  }

  .subtitle {
    margin-top: 10px;

    font-size: 45px;
  }

  .grey-text {
    font-size: 16px;
  }

  .header {
    position: static;
    transform: unset;
    margin-top: 22px;

    &__wrapper {
      margin: 0 auto;

      .btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;

        button {
          padding: 10px 30px;
          font-size: 14px;
        }

        .switch {
          position: absolute;
          top: 10%;
          right: 5%;
        }
      }
    }

    nav {
      justify-content: space-around;

      width: 385px;
      transform: translateX(8%);

      a {
        font-size: 16px;

        transition: 0.1s;

        color: $black;

        cursor: pointer;

        &:hover {
          color: $black;
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }

  .promo {
    height: auto;

    &__title {
      margin: 68px 0 24px 0;
      font-size: 46px;
    }

    &__descr {
      margin: 0 auto 32px;
      width: 620px;
    }

    &__feed {
      margin: 0 auto;
      justify-content: center;
      align-items: center;

      width: 700px;
      height: 516px;

      .blue-dots {
        position: absolute;
        top: 100px;
        left: 80px;
      }

      .orange-dots {
        position: absolute;
        top: 455px;
        left: 420px;
      }

      .feed-photo {
        margin-top: 100px;

        position: relative;
        align-items: center;

        width: 640px;
        height: 401px;
      }

      .feed-star {
        top: 130px;
        left: -20px;

        width: 135px;
        height: 75px;

        .star-text {
          font-size: 10px;

          img {
            width: 24px;
            height: 24px;
          }
        }

        .number-text {
          font-size: 18px;
        }
      }

      .feed-feed {
        padding: 23px 20px 22px;
        bottom: -30px;
        right: 5px;

        width: 166px;
        height: 166px;

        .avatar {
          width: 32px;
          height: 32px;
        }

        .person {
          margin-left: 10px;

          .name {
            width: 51px;
            font-size: 10px;
          }

          .position {
            font-size: 6px;
            letter-spacing: 0.06px;
          }
        }

        .feed-descr {
          margin-top: 12px;

          font-size: 10px;
        }
      }
    }
  }

  .about {
    margin: 120px auto 0;
    height: auto;

    &__wrapper {
      margin-top: 18px;
      display: grid;
      grid: 1fr / repeat(2, 1fr);
      column-gap: 40px;
      row-gap: 30px;
    }

    &__descr {
      margin-top: 20px;

      grid-column-start: 2;

      p {
        &:nth-child(1) {
          margin-bottom: 24px;
        }
        &:nth-child(2) {
          margin-bottom: 24px;
        }
      }
    }

    &__photo {
      margin: unset;

      grid-column-start: 1;
      grid-row-start: 1;

      position: relative;
      display: flex;

      height: unset;

      .pink-dots {
        position: absolute;

        width: 98px;
        height: 71px;

        top: 250px;
        left: 280px;

        z-index: 1;
      }

      .orange-dots {
        position: absolute;

        width: 98px;
        height: 71px;

        top: -5px;
        left: -28px;

        z-index: 1;
      }

      .about-photo {
        width: 365px;
        height: 295px;
      }
    }

    &__buttons {
      grid-column-start: 2;
      justify-content: start;

      gap: 25px;
    }
  }

  .services {
    padding-top: 130px;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .services__descr {
      text-align: center;
      padding: 0 60px;
    }

    &__link {
      margin: 24px 65px 0 0;
      align-self: end;
      text-align: start;

      font-size: 16px;
    }

    &__wrapper {
      margin-top: 24px;
      flex-direction: row;
      gap: 2%;
    }

    &__item {
      margin: 0 auto;

      width: 182px;
      height: 189px;

      box-shadow: unset;

      .item-round {
        width: 70px;
        height: 70px;
      }
    }
  }

  .portfolio {
    margin-top: 130px;

    .container {
      position: relative;

      .pink-dots1 {
        position: absolute;
        z-index: -1;
        top: 30px;
        right: 40px;
        transform: rotate(-20deg);
      }
      .pink-dots2 {
        position: absolute;
        z-index: -1;
        bottom: 280px;
        left: 400px;
        transform: rotate(20deg);
      }
    }

    &__descr {
      margin: 28px auto 0;
      width: 80%;
    }

    &__wrapper {
      margin: 30px 0 34px;
      justify-content: center;
      row-gap: 30px;

      height: auto;
    }

    &__item {
      margin-bottom: 0;

      width: 350px;
      height: 200px;

      &:nth-child(2) {
        width: 350px;
        height: 200px;
      }
      &:nth-child(3) {
        margin-bottom: 0;
      }

      .item-name {
        font-size: 18px;

        color: white;
      }
    }

    button {
      margin: 0 auto;
    }
  }

  .testimonial {
    margin-top: 135px;

    .container {
      position: relative;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      column-gap: 20px;
    }

    &__item {
      padding: 16px 0 0 18px;
      width: 320px;
      height: 275px;
    }

    &__person {
      margin-left: 15px;
      .person-name {
        font-size: 18px;
      }
    }

    &__descr {
      margin-top: 17px;
      font-size: 16px;
      width: 185px;
    }
  }

  .collaboration {
    margin-top: 220px;

    .container {
      padding: 0 30px;
      display: grid;
      grid-template-areas:
        ". p"
        "t p"
        "d p"
        "b p";
    }

    &__title {
      grid-area: t;

      font-size: 48px;
      text-align: left;
      width: 40%;
    }

    &__descr {
      grid-area: d;

      text-align: left;
      width: 350px;
    }

    &__photo {
      grid-area: p;

      .bblue-dots {
        position: absolute;
        top: 15%;
        left: -175px;
        border-radius: 0;

        z-index: -1;
      }

      .lorange-dots {
        position: absolute;
        top: 50%;
        left: -320px;
        border-radius: 0;

        z-index: -1;
      }

      img {
        position: absolute;

        &:nth-child(1) {
          top: -50px;
          right: 125px;

          width: 224px;
          height: 208px;
        }

        &:nth-child(2) {
          bottom: -60px;
          left: -255px;

          width: 245px;
          height: 208px;

          z-index: 2;
        }
      }
    }

    button {
      grid-area: b;

      margin: 25px auto 0 0;
    }
  }

  .footer {
    margin-top: 140px;
    padding-top: 60px;

    height: 548px;

    .container {
      display: grid;
      grid-template-areas:
        "a a"
        "b b"
        "h h"
        "cr cr";
    }

    &__logo {
      display: none;
    }

    &__wrapper {
      grid-area: a;

      margin: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 37px;

      .footer-title {
        font-size: 18px;
      }

      .wrapper-item {
        row-gap: 20px;
        a {
          font-size: 14px;
        }
      }
    }

    &__socials {
      grid-area: b;

      .social-round {
        width: 40px;
        height: 40px;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    hr {
      grid-area: h;
      width: 50%;
    }

    &__copyright {
      grid-area: cr;
      margin-top: 20px;
      font-size: 18px;
    }
  }
}

@media (min-width: 992px) {
  .container {
    min-width: 860px;
    padding: 0 5%;
  }

  .xs-visible {
    display: none;
  }

  button {
    padding: 12px 50px;

    flex-direction: row;

    font-size: 16px;
    line-height: 24px;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    margin-top: 20px;

    font-size: 55px;
  }

  .grey-text {
    font-size: 20px;
  }

  .header {
    position: static;
    left: unset;
    transform: unset;
    margin-top: 42px;

    nav {
      transform: translateX(18%);
    }

    &__wrapper {
      margin: 0 auto;

      .btns {
        button {
          padding: 12px 35px;
          font-size: 16px;
        }
        .switch {
          position: relative;
        }
      }

      &__logo {
        display: flex;
        align-items: center;

        img {
          width: 53px;
          height: 49px;
        }
      }

      &__logo-name {
        margin-left: 8px;
        .text1 {
          font-size: 20px;
        }
        .text2 {
          font-size: 16px;
        }
      }

      .menu_desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        width: 405px;

        .menu_link {
          font-size: 16px;

          transition: 0.1s;
          cursor: pointer;

          &:hover {
            font-weight: 600;
          }
        }
      }
    }

    .promo {
      height: 1000px;

      &__title {
        margin: 68px 0 24px 0;
        font-size: 54px;
      }

      &__descr {
        margin: 0 auto 32px;
        width: 767px;
      }

      &__feed {
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        width: 886px;
        height: 516px;

        .blue-dots {
          position: absolute;
          top: 50px;
          left: 100px;

          width: 98px;
          height: 71px;
        }

        .orange-dots {
          position: absolute;
          top: 515px;
          left: 650px;

          width: 98px;
          height: 71px;
        }

        .feed-photo {
          margin-top: 100px;

          position: relative;
          align-items: center;

          width: 739px;
          height: 501px;

          border-radius: 12px;

          z-index: 2;
        }

        .feed-star {
          top: 150px;
          left: 10px;

          width: 175px;
          height: 95px;

          .star-text {
            font-size: 12px;
            letter-spacing: 0.12px;

            img {
              width: 24px;
              height: 24px;
            }
          }

          .number-text {
            font-size: 24px;
            letter-spacing: 0.24px;
          }
        }

        .feed-feed {
          padding: 27px 20px 25px;
          bottom: -10px;
          right: 25px;

          width: 166px;
          height: 166px;

          .avatar {
            width: 32px;
            height: 32px;
          }

          .person {
            margin-left: 10px;

            .name {
              width: 51px;
              font-size: 10px;
              letter-spacing: 0.1px;
            }

            .position {
              font-size: 6px;
              letter-spacing: 0.06px;
            }
          }

          .feed-descr {
            margin-top: 12px;

            font-size: 10px;
            letter-spacing: 0.1px;
          }
        }
      }
    }

    .about {
      margin: 100px auto 0;
      height: 568px;

      &__wrapper {
        margin-top: 38px;
        display: grid;
        grid: 1fr / repeat(2, 1fr);
        column-gap: 65px;
        row-gap: 30px;
      }

      &__descr {
        margin-top: 35px;

        grid-column-start: 2;

        p {
          &:nth-child(1) {
            margin-bottom: 24px;
          }
          &:nth-child(2) {
            margin-bottom: 24px;
          }
        }
      }

      &__photo {
        margin: unset;

        grid-column-start: 1;
        grid-row-start: 1;

        position: relative;
        display: flex;

        height: unset;

        .pink-dots {
          position: absolute;

          width: 98px;
          height: 71px;

          top: 275px;
          left: 350px;

          z-index: 1;
        }

        .orange-dots {
          position: absolute;

          width: 98px;
          height: 71px;

          top: -5px;
          left: -28px;

          z-index: 1;
        }

        .about-photo {
          width: 435px;
          height: 302px;
        }
      }

      &__buttons {
        grid-column-start: 2;
        justify-content: start;

        gap: 25px;
      }
    }

    .services {
      padding-top: 150px;
      .container {
        display: grid;
        grid-template-areas:
          ". g"
          "t g"
          "st g"
          "d g"
          "l g"
          ". g";
        column-gap: 5%;
      }

      .title {
        text-align: left;
        grid-area: t;
        width: max-content;
      }

      .subtitle {
        text-align: left;
        grid-area: st;
        width: 400px;
      }

      .services__descr {
        padding: 0;
        text-align: left;
        grid-area: d;
        width: 420px;
      }

      &__link {
        margin-top: 36px;
        text-align: end;
        grid-area: l;

        font-size: 20px;
      }

      &__wrapper {
        grid-area: g;

        gap: 5%;

        display: grid;
        grid: repeat(2, 209px) / repeat(2, 209px);
        justify-items: center;
        align-items: center;
      }

      &__item {
        margin: 0;
        justify-items: center;

        width: 202px;
        height: 209px;

        box-shadow: unset;

        transition: 0.3s;

        .item-round {
          display: flex;
          justify-content: center;

          width: 80px;
          height: 80px;

          border-radius: 100%;
          background-color: $main-color;
        }

        &:hover {
          box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .portfolio {
      margin-top: 130px;

      .container {
        position: relative;

        .pink-dots1 {
          position: absolute;
          z-index: 1;
          top: 130px;
          right: 40px;
          transform: rotate(-20deg);
        }
        .pink-dots2 {
          position: absolute;
          z-index: -1;
          bottom: 280px;
          left: 400px;
          transform: rotate(20deg);
        }
      }

      &__descr {
        margin: 28px auto 0;
        width: 60%;
      }

      &__wrapper {
        margin: 0 0 34px;

        flex-direction: row;
        justify-content: center;
        column-gap: 69px;

        height: 400px;
      }

      &__item {
        margin-bottom: 0;

        width: 300px;
        height: 300px;

        cursor: pointer;
        transition: 0.4s;

        &:nth-child(2) {
          width: 300px;
          height: 300px;
        }
        &:nth-child(3) {
          margin-bottom: 0;
        }

        &:hover {
          transform: scale(1.1);
          box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
        }
      }

      button {
        margin: 0 auto;
      }
    }

    .testimonial {
      margin-top: 155px;

      .container {
        position: relative;

        .blue-dots1 {
          position: absolute;
          top: -50px;
          left: 80px;
          transform: rotate(20deg);
        }

        .blue-dots2 {
          position: absolute;
          right: 40px;
          bottom: -40px;
          transform: rotate(20deg);

          z-index: -1;
        }
      }

      &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 30px;
      }

      &__item {
        padding: 40px 0 0 30px;
        width: 320px;
        height: 305px;
      }

      &__person {
        .person-name {
          font-size: 20px;
        }
      }

      &__descr {
        margin-top: 25px;
        font-size: 18px;
        width: 279px;
      }
    }

    .collaboration {
      margin-top: 220px;

      .container {
        display: grid;
        grid-template-areas:
          ". p"
          "t p"
          "d p"
          "b p";
      }

      &__title {
        grid-area: t;

        font-size: 55px;
        text-align: left;
        width: 40%;
      }

      &__descr {
        grid-area: d;

        text-align: left;
        width: 350px;
      }

      &__photo {
        grid-area: p;

        .bblue-dots {
          position: absolute;
          top: 5%;
          left: -175px;
          border-radius: 0;

          z-index: -1;
        }

        .lorange-dots {
          position: absolute;
          top: 70%;
          left: -350px;
          border-radius: 0;

          z-index: -1;
        }

        img {
          position: absolute;

          &:nth-child(1) {
            top: -50px;
            right: 180px;

            width: 244px;
            height: 238px;
          }

          &:nth-child(2) {
            bottom: -60px;
            left: -275px;

            width: 275px;
            height: 238px;

            z-index: 2;
          }
        }
      }

      button {
        grid-area: b;

        margin: 25px auto 0 0;
      }
    }

    .footer {
      margin-top: 140px;
      padding-top: 80px;

      height: 548px;

      .container {
        display: grid;
        grid-template-areas:
          "a a"
          "b b"
          "h h"
          "cr cr";
      }

      &__logo {
        display: none;
      }

      &__wrapper {
        grid-area: a;

        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 47px;

        .footer-title {
          font-size: 22px;
        }
      }

      &__socials {
        grid-area: b;

        .social-round {
          width: 40px;
          height: 40px;

          img {
            width: 24px;
            height: 24px;
          }
        }
      }

      hr {
        grid-area: h;
        width: 50%;
      }

      &__copyright {
        grid-area: cr;
        margin-top: 20px;
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 1240px) {
  .container {
    min-width: 1240px;
  }

  .xs-visible {
    display: none;
  }

  button {
    padding: 12px 50px;

    flex-direction: row;

    font-size: 16px;
    line-height: 24px;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    margin-top: 20px;

    font-size: 55px;
  }

  .grey-text {
    font-size: 20px;
  }

  .header {
    position: static;
    left: unset;
    transform: unset;
    margin-top: 72px;

    &__wrapper {
      margin: 0 auto;
    }

    &__logo {
      display: flex;
      align-items: center;

      img {
        width: 53px;
        height: 49px;
      }
    }

    &__logo-name {
      margin-left: 8px;
      .text1 {
        font-size: 20px;
      }
      .text2 {
        font-size: 16px;
      }
    }

    .menu_desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      width: 405px;

      transition: 0.5s all;

      .menu_link {
        font-family: "Quicksand";
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        text-transform: capitalize;

        transition: 0.1s;
        cursor: pointer;
        &:hover {
          font-weight: 600;
        }
      }
    }
  }

  .promo {
    height: 1000px;

    &__title {
      margin: 68px 0 24px 0;
      font-size: 64px;
      letter-spacing: 0.64px;
    }

    &__descr {
      margin: 0 auto 32px;
      width: 767px;
    }

    &__feed {
      margin: 0 auto;
      justify-content: center;
      align-items: center;

      width: 986px;
      height: 616px;

      .blue-dots {
        position: absolute;
        top: 100px;
        left: 300px;

        width: 98px;
        height: 71px;
      }

      .orange-dots {
        position: absolute;
        top: 565px;
        left: 300px;

        width: 98px;
        height: 71px;
      }

      .feed-photo {
        margin-top: 100px;

        position: relative;
        align-items: center;

        width: 739px;
        height: 501px;

        border-radius: 12px;

        z-index: 2;
      }

      .feed-star {
        top: 150px;
        left: 10px;

        width: 175px;
        height: 95px;

        .star-text {
          font-size: 12px;
          letter-spacing: 0.12px;

          img {
            width: 24px;
            height: 24px;
          }
        }

        .number-text {
          font-size: 24px;
          letter-spacing: 0.24px;
        }
      }

      .feed-feed {
        padding: 27px 20px 25px;
        bottom: -10px;
        right: 25px;

        width: 166px;
        height: 166px;

        .avatar {
          width: 32px;
          height: 32px;
        }

        .person {
          margin-left: 10px;

          .name {
            width: 51px;
            font-size: 10px;
            letter-spacing: 0.1px;
          }

          .position {
            font-size: 6px;
            letter-spacing: 0.06px;
          }
        }

        .feed-descr {
          margin-top: 12px;

          font-size: 10px;
          letter-spacing: 0.1px;
        }
      }
    }
  }

  .about {
    margin: 150px auto 0;
    height: 568px;

    &__wrapper {
      margin: 38px auto 0;
      width: 90%;
      display: grid;
      grid: 1fr / repeat(2, 1fr);

      column-gap: 25px;
    }

    &__descr {
      margin-top: 35px;

      grid-column-start: 2;

      p {
        &:nth-child(1) {
          margin-bottom: 24px;
        }
        &:nth-child(2) {
          margin-bottom: 24px;
        }
      }
    }

    &__photo {
      margin: unset;

      grid-column-start: 1;
      grid-row-start: 1;

      position: relative;
      display: flex;

      height: unset;

      .pink-dots {
        position: absolute;

        width: 98px;
        height: 71px;

        top: 355px;
        left: 500px;

        z-index: 1;
      }

      .orange-dots {
        position: absolute;

        width: 98px;
        height: 71px;

        top: -5px;
        left: -28px;

        z-index: 1;
      }

      .about-photo {
        width: 565px;
        height: 402px;
      }
    }

    &__buttons {
      grid-column-start: 2;
      justify-content: start;

      gap: 25px;
    }
  }

  .services {
    padding-top: 150px;

    .container {
      display: grid;
      width: 80%;
      grid-template-areas:
        ". g"
        "t g"
        "st g"
        "d g"
        "l g"
        ". g";
      column-gap: 8%;
    }

    .title {
      text-align: left;
      grid-area: t;
      width: max-content;
    }

    .subtitle {
      text-align: left;
      grid-area: st;
    }

    .services__descr {
      text-align: left;
      grid-area: d;
      width: 520px;
    }

    &__link {
      margin-top: 36px;
      text-align: end;
      grid-area: l;

      font-size: 20px;
    }

    &__wrapper {
      grid-area: g;

      gap: 5%;

      display: grid;
      grid: repeat(2, 269px) / repeat(2, 269px);
      justify-items: center;
      align-items: center;
    }

    &__item {
      margin: 0;
      justify-items: center;

      width: 262px;
      height: 269px;

      box-shadow: unset;

      transition: 0.3s;

      &:hover {
        box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .portfolio {
    margin-top: 130px;

    .container {
      position: relative;

      .pink-dots1 {
        position: absolute;
        z-index: 1;
        top: 130px;
        right: 80px;
        transform: rotate(-20deg);
      }
      .pink-dots2 {
        position: absolute;
        z-index: -1;
        bottom: 280px;
        left: 400px;
        transform: rotate(20deg);
      }
    }

    &__descr {
      margin: 28px auto 0;
      width: 60%;
    }

    &__wrapper {
      margin: 48px 0 34px;

      flex-direction: row;
      justify-content: center;
      column-gap: 69px;

      height: 400px;
    }

    &__item {
      margin-bottom: 0;

      width: 350px;
      height: 350px;

      cursor: pointer;
      transition: 0.4s;

      &:nth-child(2) {
        width: 350px;
        height: 350px;
      }
      &:nth-child(3) {
        margin-bottom: 0;
      }

      &:hover {
        transform: scale(1.1);
        box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
      }
    }

    button {
      margin: 0 auto;
    }
  }

  .testimonial {
    margin-top: 195px;

    .container {
      position: relative;

      .blue-dots1 {
        position: absolute;
        top: -50px;
        left: 80px;
        transform: rotate(20deg);
      }

      .blue-dots2 {
        position: absolute;
        right: 50px;
        bottom: -40px;
        transform: rotate(20deg);

        z-index: -1;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      column-gap: 50px;
    }

    &__item {
      padding: 50px 0 0 40px;
      width: 380px;
      height: 335px;
    }

    &__person {
      .person-name {
        font-size: 20px;
      }
    }

    &__descr {
      margin-top: 25px;
      font-size: 18px;
      width: 309px;
    }
  }

  .collaboration {
    margin-top: 250px;

    .container {
      display: grid;
      width: 80%;
      grid-template-areas:
        ". p"
        "t p"
        "d p"
        "b p";
    }

    &__title {
      grid-area: t;

      font-size: 55px;
      text-align: left;
      width: 40%;
    }

    &__descr {
      grid-area: d;

      text-align: left;
      width: 350px;
    }

    &__photo {
      grid-area: p;

      .bblue-dots {
        position: absolute;
        top: 5%;
        left: -145%;
        border-radius: 0;

        z-index: -1;
      }

      .lorange-dots {
        position: absolute;
        top: 80%;
        left: -85%;
        border-radius: 0;

        z-index: -1;
      }

      img {
        position: absolute;

        &:nth-child(1) {
          top: -50px;
          right: 40%;

          width: 294px;
          height: 288px;
        }

        &:nth-child(2) {
          bottom: -60px;
          left: -240%;

          width: 325px;
          height: 288px;

          z-index: 2;
        }
      }
    }

    button {
      grid-area: b;

      margin: 25px auto 0 0;
    }
  }

  .footer {
    margin-top: 180px;
    padding-top: 130px;

    height: 548px;

    .container {
      display: grid;
      grid-template-areas:
        "l a"
        "b b"
        "h h"
        "cr cr";
      width: 90%;
    }

    &__logo {
      grid-area: l;
      display: flex;
    }

    &__wrapper {
      grid-area: a;

      margin: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 77px;

      .footer-title {
        font-size: 22px;
      }
    }

    &__socials {
      grid-area: b;

      .social-round {
        width: 40px;
        height: 40px;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    hr {
      grid-area: h;
      width: 50%;
    }

    &__copyright {
      grid-area: cr;
      margin-top: 20px;
      font-size: 18px;
    }
  }
}
