@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@import "libs/bootstrap-reboot.min";
@import "libs/animate";

@import "base/variables";
@import "base/animations";

* {
  font-family: "Quicksand", sans-serif;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  transition: all 0.3s;
}

.container {
  margin: 0 auto;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff15;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(148, 148, 148, 0.74);
  border-radius: 15px;
}

@import "blocks/buttons";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/promo";
@import "blocks/about";
@import "blocks/services";
@import "blocks/portfolio";
@import "blocks/testimonial";
@import "blocks/collaboration";
@import "blocks/footer";
@import "base/media";
@import "base/darkmode";
