.testimonial {
  margin-top: 100px;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    padding: 40px 0 0 40px;

    margin-top: 35px;

    display: flex;
    flex-direction: column;

    width: 320px;
    height: 257px;

    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
  }

  &__header {
    display: flex;
    align-items: center;

    .person-avatar {
      width: 70px;
      height: 70px;

      border-radius: 100%;

      object-fit: cover;
    }
  }

  &__person {
    margin-left: 30px;

    display: flex;
    flex-direction: column;

    .person-name {
      font-family: "Quicksand";
      font-size: 18px;
      font-weight: 600;

      color: $main-color;
    }

    .person-position {
      font-family: "Quicksand";
      font-size: 11px;
      font-weight: 400;

      color: $grey-text;
      opacity: 0.8;
    }
  }

  &__descr {
    margin-top: 35px;
  }

  .blue-dots1 {
    position: absolute;
    top: 115px;
    left: 80px;

    transform: rotate(20deg);

    z-index: -1;
  }

  .blue-dots2 {
    position: absolute;
    right: 190px;
    bottom: -40px;
    transform: rotate(20deg);

    z-index: -1;
  }
}
